.popup-window_transition-enter {
  opacity: 0.01;
  transform: translate(0, 20px);
}

.popup-window_transition-enter.popup-window_transition-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0.16s linear, opacity 0.08s linear;
}

.popup-window_transition-leave {
  opacity: 1;
  transform: translate(0, 0);
}

.popup-window_transition-leave.popup-window_transition-leave-active {
  opacity: 0.01;
  transition: opacity 0.08s linear;
}

.popup-window_card_transition-enter {
  opacity: 0.01;
  transform: translate(-20px, 0);
}

.popup-window_card_transition-enter.popup-window_card_transition-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: transform 0.16s linear, opacity 0.08s linear;
}

.popup-window_card_transition-leave {
  opacity: 1;
}

.popup-window_card_transition-leave.popup-window_card_transition-leave-active {
  opacity: 0.01;
  transition: opacity 0.08s linear;
}
